* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body,
#app {
    height: 100%;
}

#app {
    display: flex;
    flex-wrap: wrap;

    /* Flex Direction
    flex-direction: row;  //Em linha (Default) 
    flex-direction: row-reverse;  //Linha de trás pra frente 
    flex-direction: column;  //Transforma em colunas 
    flex-direction: column-reverse; //Coluna de baixo pra cima 
    */

    /* Align Items - Alinha verticalmente
    align-items: center; //Centro
    align-items: flex-start; //Início
    align-items: flex-end; //Final
    */

    /* Justify Content - Alinha horizontalmente
    justify-content: center; //Centro
    justify-content: flex-start; //Início
    justify-content: flex-end; //Final
    justify-content: space-between; //Espaçamento grande
    justify-content: space-around; //Espaçamento médio
    justify-content: space-evenly; //Espaçamento pequeno
    */

    /* Flex-grow - Permite o redimensionamento
    flex-grow: 1;
    */

    /* Flex-shrink - Não permite o redimensionamento
    flex-shrink: 0; (1 vem como padrão) 
    */

    /* Flex - Combina o flex-grow e o flex-shrink
    flex: 1 0;
    */

    /* Flex Wrap - Faz a quebra de linhas de um elemento
    flex-wrap: nowrap; //Não quebra a linha (default)
    flex-wrap: wrap; //Quebra as linhas em ordem
    flex-wrap: wrap-reverse; //Inverte a posição das linhas quebradas
    */

    /* Align Content - Responsável por alinhar o conteúdo 
    quando ocorre quebra de linhas
    align-content: center; //Centro
    align-content: flex-start; //Início
    align-content: flex-end; //Final
    align-content: space-between; //Espaçamento grande
    align-content: space-around; //Espaçamento médio
    align-content: space-evenly; //Espaçamento pequeno
    */
}

.box {
    width: 150px;
    height: 60px;
    background: #F00;
    margin: 5px;
}